html {
    background: url(/assets/images/background.jpg) no-repeat center fixed;
    /*-webkit-bacground-size: cover;*/
    /*-moz-bacground-size: cover;*/
    /*-o-bacground-size: cover;*/
    background-size: cover;
     /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
}

body {
    color: #ffffff;
    background: none;
}

textarea {
    /*display: block;*/
    overflow: hidden;
    resize: none;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: right;
    width: 100%;
    /*background: #5cb85c;*/
}

/*button[name='save']{*/
/*margin: 5px;*/
/*}*/
/*image{*/
/*filter:blur(5px);*/
/*}*/
.container {
    text-align: center;
    min-width: 300px;
    width: 40%;
    margin: 5% auto auto;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
}

.hidden {
    display: none;
}
.toggleForms {
    font-weight: bold;
}

.toggleRestoreForm {
    font-weight: bold;
}

.noteButton {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    /*padding: 5px; !* Поля *!*/
    text-overflow: ellipsis; /* Многоточие */
    background-color: white;
    /*border: 1px solid green;*/
    color: black;
    padding: 15px 32px;
    text-align: left;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    min-width: 300px;
    width: 80%;
}

.tablet {
    background-color: rgba(255, 255, 255, 0.33);
    border: 2px #5CB85C solid;
    border-radius: 10px;
}

#title {
    min-width: 300px;
    width: 90%;
    font-size: 40px;
    margin: 5px auto 5px;
}
#diary {
    min-width: 300px;
    width: 90%;
    height: 80%;
    margin: 5px auto 5px;
    font-size: xx-large;
}

#topBtn{
    display:none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    border: none;
    font-size:50px;
    color:#5cb85c;
}

/*#error {*/
/*color: red;*/
/*font-weight: bolder;*/
/*}*/
